.gal-img{
    width: 300px;
    height: 300px;
}
.gal-imgcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
    flex-wrap: wrap;
}